* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

img {
  max-width: 100%;
}

h1 {
  color: black;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-size: 1.9rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

button {
  background-color: #1a1a1a;
  color: white;
  padding: 10px 30px;
  font-size: 0.7rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 2rem;
  margin-bottom: 1.6rem;
}

button:hover {
  opacity: 0.4;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}
